<header id="header">
      <div class="container">
        <h1 class="navbar-brand navbar-brand_"><a href="{{ base_url_absolute }}"><img alt="Grill point" src="{{ theme_url }}/img/logo.png"></a></h1>
      </div>
      <div class="menuheader">
          <div class="container">
            <nav class="navbar navbar-default navbar-static-top tm_navbar" role="navigation">
                {% include 'partials/navigation.html.twig' %}
            </nav>
          </div>
      </div>
</header>