<header id="header">
  <div class="logo">
    <a class="smoothscroll" href="#hero"><img alt="" src="{{ theme_url }}/images/logo.png"></a>
  </div>

  {% include 'partials/navigation.html.twig' %}
  {% if site.social %}
    {% include 'partials/social.html.twig' %}
  {% endif %}
</header>