{% extends 'partials/base.html.twig' %}
{% block content %}
    <div id="content">
        <div class="row_9">
            <div class="container">
                <div class="row {{ page.header.class }}">
                 {{ page.content }}
             </div> 
         </div>
     </div>
 </div>
{% endblock %}
